<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%- htmlWebpackPlugin.options.metadata.title %>
    </title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, user-scalable=no">
    <meta name="HandheldFriendly" content="true" />
    <script defer src="scripts/fontawesome-all.min.js"></script>
    <link rel="manifest" href="static/manifest.json">
</head>

<body aurelia-app="main"></body>

</html>