// Dark theme (default)
$color-background: #212529 !default;
$color-navigator: #36a9e1 !default;
$color-text-default: #fff !default;
$color-text-grey: #f5f4f4 !default;
$color-primary: #343a40 !default;
$color-secondary: darken($color-primary, 3%) !default;
$color-info: #36a9e1 !default;
$color-success: #50af47 !default;
$color-warning: #f7a600 !default;
$color-danger: #c43923 !default;
$theme-colors: ( "primary": $color-primary, "secondary": $color-secondary, "success": $color-success, "danger": $color-danger, "warning": $color-warning, "info": $color-info, "background": $color-background);