<template>
    <div id="profile" class="modal">
        <header class="bar bar-nav">
            <a class="icon icon-left pull-left" click.delegate="toggleModal('profile')"></a>
            <h1 class="title">Profiel instellingen</h1>
        </header>

        <div class="content">
            <form class="content-padded">
                <a class="btn btn-positive btn-block" click.delegate="toggleModal('profile')">Instellingen opslaan</a>
            </form>
        </div>
    </div>
</template>