<template>
    <div class="content">
        <ul class="table-view">
            <li class="table-view-cell">
                <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
                    Note title goes here
                    <p>Lorem ipsum dolor sit amet...</p>
                </a>
            </li>
            <li class="table-view-cell">
                <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
                    Note title goes here
                    <p>Lorem ipsum dolor sit amet...</p>
                </a>
            </li>
            <li class="table-view-cell">
                <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
                    Note title goes here
                    <p>Lorem ipsum dolor sit amet...</p>
                </a>
            </li>
            <li class="table-view-cell">
                <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
                    Note title goes here
                    <p>Lorem ipsum dolor sit amet...</p>
                </a>
            </li>
            <li class="table-view-cell">
                <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
                    Note title goes here
                    <p>Lorem ipsum dolor sit amet...</p>
                </a>
            </li>
            <li class="table-view-cell">
                <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
                    Note title goes here
                    <p>Lorem ipsum dolor sit amet...</p>
                </a>
            </li>
            <li class="table-view-cell">
                <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
                    Note title goes here
                    <p>Lorem ipsum dolor sit amet...</p>
                </a>
            </li>
            <li class="table-view-cell">
                <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
                    Note title goes here
                    <p>Lorem ipsum dolor sit amet...</p>
                </a>
            </li>
            <li class="table-view-cell">
                <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
                    Note title goes here
                    <p>Lorem ipsum dolor sit amet...</p>
                </a>
            </li>
            <li class="table-view-cell">
                <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
                    Note title goes here
                    <p>Lorem ipsum dolor sit amet...</p>
                </a>
            </li>
        </ul>
    </div>
</template>